.App {
  text-align: center;
}

.toolbar {
  height: 50px;
  padding: 10px;
  background-image: linear-gradient(to right, #296af6 0%, #fee140 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-family: "Lucida Grande";
  font-size: larger;
}

.line {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.flex {
  display: flex;
}

.grow1 {
  flex: 1;
}

.j-center {
  justify-content: center;
}

.f-end {
  justify-content: flex-end;
}

